@font-face {
    font-family: "Segoe UI";
    src: url("fonts/segoeui.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe Fluent Icons";
    src: url("fonts/SegoeIcons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2a2a2a;
    color: white;
    overflow: hidden;
}

icon {
    font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets";
}

icon.disabled {
    color: #858585;
}

.btn {
    background-color: #1563D9;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #1760CD;
    display: inline-block;
}

.btn:hover {
    background: #3477DB;
    border: 1px solid #3769B4;
}

.sidebar {
    text-align: center;
}

.sidebar icon {
    font-size: 20px;
}

.sidebar2 {
    width: 231px;
    height: 100%;
    background-color: #252526;
    font-size: medium !important;
    margin: 0;
    padding-left: 10px;
}

.sidebar2 ul {
    font-size: 13px;
}

.sidebar2 ul li {
    list-style: square;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding-top: 15px;
    list-style-type: none;
}

details>summary {
    list-style-type: none;
}

details[open]>details {
    border-left: 1px solid #39393a;
    margin-left: 6px;
    padding-left: 20px;
    margin-top: 2px;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::before {
    font-family: 'Segoe Fluent Icons'
}

details>summary::before {
    content: '';
}

details[open]>summary::before {
    content: '';
}

details[open]>ul {
    border-left: 1px solid #39393a;
    margin-left: 6px;
    padding-left: 20px;
}

.bottombar {
    width: 100%;
    height: 20px;
    font-size: 12px;
    background-color: #007acc;
    position: absolute;
    bottom: 0;
}

.maincontainer {
    height: calc(100% - 20px);
    display: inline-flex;
    width: 100%;
}

.topbar {
    width: 100%;
    height: 30px;
}

.topbar>span {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
}