html,
body {
    color: white;
    background-color: rgb(23, 23, 23);
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#code {
    border: none;
    outline: none;
    color: white;
    background-color: rgb(23, 23, 23);
    resize: none;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 95%;
    margin-left: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}